@charset "utf-8";

.module_category_title { border:1px solid #DDDDDD; margin:10px 5px 5px 0; padding:3px 3px 3px 9px; }
.module_list { margin:0 0 5px 10px; }
td ul li {display:inline-block; margin:2px; border-left:5px;}
li span {font-size:8pt}